<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ApiCompras" packages="">
    <Properties>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-60d %p [%t] %-60.60C: %msg%n%throwable"/>
        </Console>
        <RollingFile
                name="File"
                fileName="${LOG_DIR}/application.log"
                filePattern="${LOG_DIR}/application-%d{-dd-MMMM-yyyy}-.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p [%t] %C: %msg%n%throwable</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="*/application-*.log.gz"/>
                    <IfLastModified age="P60D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="atom.juice.apicompras" level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>